.display-grid {
    display: grid;
}

.margin-button {
    margin: 10px;
}

.dialog-title {
    /* background: lightgray; */
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-family: Roboto;
}

.dialog-container {
    /* background-color: lightblue; */
    position: relative;
}

.spinner-class {
    position: absolute;
    /* z-index: 1; */
    top: 0;
    left: 0;
    bottom: -6px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}