<div>
    <div *ngIf="!loggedin" class="margin-20">
        <form [formGroup]="contactForm">

            <div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>USER NAME:</mat-label>
                        <input formControlName="userName" matInput required>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>PASSWORD:</mat-label>
                        <input type="password" formControlName="password" matInput required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-raised-button color="accent" (click)="login()">-></button>
            </div>
        </form>
    </div>
    <div *ngIf="loggedin">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <div style="display: flex;">
            <div>
                <label id="example-radio-group-label">TABLE TYPE:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" (change)="radioButtonValueChange($event)"
                    class="example-radio-group" [(ngModel)]="trueCount">
                    <mat-radio-button value="false">ALL RSVP</mat-radio-button>
                    <mat-radio-button value="true">True Count</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <div style="padding: 10px;">Total RSVP: {{count}}</div>
            </div>
            <div>
                <div style="padding: 10px;">Total Guests: {{guestCount}}</div>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}},{{element.firstName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="GuestCount">
                <th mat-header-cell *matHeaderCellDef> Guest Count </th>
                <td mat-cell *matCellDef="let element"> {{element.guestCount}} </td>
            </ng-container>

            <ng-container matColumnDef="Timezone">
                <th mat-header-cell *matHeaderCellDef> Timezone </th>
                <td mat-cell *matCellDef="let element"> {{element.timezone}} </td>
            </ng-container>

            <ng-container matColumnDef="RSVPDATE">
                <th mat-header-cell *matHeaderCellDef> RSVP DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.rsvp_CREATE_DATE}} </td>
            </ng-container>

            <ng-container matColumnDef="PartOfCount">
                <th mat-header-cell *matHeaderCellDef> Part Of Count </th>
                <td mat-cell *matCellDef="let element"> {{element.includeRsvpInCountList}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>