<div>
    <div class="bg-img"></div>
    <div class="container">
        <div class="outer-container">
            <div class="inner-container">
                <div class="display-grid  common-margin">
                    <span class="font-family-common">You are </span>
                    <span class="font-family-common">invited to a </span>
                </div>
                <div class="common-margin">
                    <span class="baby-shower-font  common-margin">Babby Shower </span>
                </div>
                <div class="common-margin">
                    <span class="font-family-common common-margin">honoring </span>
                </div>
                <div class="name-font-style  common-margin">
                    <span>Krima Patel</span>
                </div>
                <div class="common-margin">
                    <span class="font-family-common common-margin">on </span>
                </div>
                <div class="common-margin display-grid">
                    <span class="font-family-common">Saturday, September 9th, 2023</span>
                    <span class="font-family-common">11:00 AM - 2:00 PM</span>
                </div>
                <!-- <div class="common-margin">
                <span class="font-family-cursive">11:00 AM - 2:00 PM</span>
            </div> -->
                <div class="display-grid  common-margin">
                    <span class="font-family-common">Some Venue</span>
                    <span class="font-family-common">12, Main St</span>
                    <span class="font-family-common">Leesburg, VA 20176</span>
                </div>
                <div class="display-grid font-family-common common-margin">
                    <span>RSVP By</span>
                    <span>Friday, August 25th, 2023</span>
                </div>
                <div>
                    <button mat-raised-button color="accent" (click)="openRsvpDialog()">RSVP</button>
                </div>
            </div>
        </div>
        <!-- <div>
        Image by <a
            href="https://www.freepik.com/free-photo/top-view-beautiful-baby-shower-concept_10855373.htm#query=baby%20shower%20background&position=39&from_view=keyword&track=ais">Freepik</a>
    </div> -->
    </div>
</div>