.bg-img {
    /* The image used */
    background-image: url("../../../assets/background.jpg");
    /* background-image: url("../../../assets/oh-baby-500X500.jpeg"); */
  
    /* Control the height of the image */
    height: 100%;
    display: block;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }